@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*Place all styles common to all pages here*/

html, body{
	height: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background-image: url('../img/bench.png');
	background-position: right;
	background-repeat: no-repeat;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3{
	font-size: 120%;
	font-weight: bold;
}